<div class="container">
  <div class="row mt-3 mb-3 col col-md-6">
    <h3>Reactive Form</h3>

    <form [formGroup]="formGroup" (submit)="onSubmit($event)">
      <div class="col">
        <input-a appOnlyNumber placeholder="Input 1" formControlName="input1" label="Input 1 (Number Only)">
          <ng-template #error let-data="data">
            <p *ngIf="input1.errors?.['minlength']">Minimum length must 6 character </p>
            <p *ngIf="input1.errors?.['required']">Field cant be empty </p>
            <p *ngIf="input1.errors?.['maxlength']">Maximum length must 8 character</p>
          </ng-template>
        </input-a>
        <div *ngIf="result" class="mt-3 col rounded-2 w-100 p-3 bg-grey">
          {{result | json}}
        </div>
        <div class="mt-3 d-flex justify-content-end">
          <button type="submit" [disabled]="formGroup?.invalid" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
    <hr class="mt-3" />
    <h3>Input URL with Fetch data and counts the words within the text (description)</h3>
    <app-input-url label="Input Url" placeholder="Input your url" (getUrl)="onGetUrl($event)"></app-input-url>
    <div class="">
      <div class="mt-3 bg-grey p-3 rounded-3">
        <pre>{{response ? (response | json) : 'Cant fetch data'}}</pre>
      </div>
    </div>
    <hr class="mt-3" />
    <h3>have top 10 most used words in the body of text and with injectable</h3>
    <div class="mt-3 bg-grey p-3 rounded-3">{{data}}</div>
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Word</th>
          <th scope="col">Count</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of baseUrl.result; let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{item?.word}}</td>
          <td>{{item?.occurences}}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
